body {
    padding: 0px;
    margin: 0px;
}

nav {

    background-color: darkgoldenrod;
    margin-top: px;
    height: 53px;
    position: relative;
    background-color: #787851;

}

button {
        position: relative;
        border: none;
        font-size: 20px;
        margin-top: 9px;
        display: inline;
        margin-left: 71px;
        transition: all;
        border: inset;
    
}

button:hover {
    background-color: darkblue;
    color: brown;
    transform: rotate(360deg);
}

.float-btn {
    float: right;
    margin-left: 1px;
    margin-right: 20px;

}

.float-btn2 {
    float: right;
    margin-right: 35px;

}