/* Resetting some default browser styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: lightgreen;
  font-family: Arial, sans-serif;
}

/* Navigation styles */
nav {
  background-color: darkgoldenrod;
  height: 53px;
  text-align: center;
}

button.btn {
  border: none;
  font-size: 20px;
  margin: 9px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button.btn:hover {
  background-color: darkblue;
  color: brown;
  transform: rotate(30deg);
}

button.float-btn {
  float: right;
  margin-left: 10px;
}

button.float-btn2 {
  float: right;
  margin-left: 10px;
}

/* Table styles */
.table {
  text-align: center;
  margin-left: 25%;
  margin-top: 2%;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  padding: 15px;
}

/* Container styles */
.container {
  text-align: center;
  position: absolute;
  margin-top: 54px;
  font-size: 37px;
}

/* Search button styles */
.btn-search {
  font-size: 32px;
  background-color: #2222ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-search:hover {
  font-size: 42px;
  background-color: #141494;
  width: 266px;
}

/* Input styles */
input {
  width: 20%;
  height: 40px;
  font-size: 22px;
  margin-top: 30px;
}

/* Images styles */
img {
  width: 662px;
  transition: all 0.5s;
  cursor: pointer;
}

img:hover {
  transform: rotate(360deg);
}

/* Additional styles can be added here */
